doctype html
html
    head
        title Digital Paper Game
        script(type='text/javascript' src='static/script.js')
        link(rel='stylesheet' type='text/css' href='style/style.css')
    body
        h1 Testing Post Form
        form#file-form(method='POST')
            input#file-select(type='file' name='image')
            button(type='submit') Upload