doctype html
html
    head
        title Digital Paper Game
        link(rel='stylesheet' type='text/css' href='style/style.css')
    body
        h1 No content
        p I could put some lorem ipsum or something here but it wouldn't survive for very long.