doctype html
html
    head
        title Digital Paper Game Preview
        link(rel='stylesheet' type='text/css' href='style/style.css')
        script(type='text/javascript' src='static/common.js')
        script(type='text/javascript' src='static/preview.js')
    body
        header
            h1 Maps
        main
            #thumbnails